<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
           version="3.0">


    <filter>
        <filter-name>Filter2</filter-name>
        <filter-class>com.database1.Filter2</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Filter2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
   <!-- <filter>
        <filter-name>Filter3</filter-name>
        <filter-class>com.database1.Filter3</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Filter3</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    -->
    <servlet>
        <servlet-name>Servlet1</servlet-name>
        <servlet-class>com.servlet.Servlet1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet1</servlet-name>
        <url-pattern>/Servlet1</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CookieFirstServlet</servlet-name>
        <servlet-class>com.servlet2.CookieFirstServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CookieFirstServlet</servlet-name>
        <url-pattern>/CookieFirstServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CookieSecondServlet</servlet-name>
        <servlet-class>com.servlet2.CookieSecondServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CookieSecondServlet</servlet-name>
        <url-pattern>/CookieSecondServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HttpSessionDemo</servlet-name>
        <servlet-class>com.servlet3.HttpSessionDemo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HttpSessionDemo</servlet-name>
        <url-pattern>/HttpSessionDemo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HttpSessionDemo1</servlet-name>
        <servlet-class>com.servlet3.HttpSessionDemo1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HttpSessionDemo1</servlet-name>
        <url-pattern>/HttpSessionDemo1</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HttpSessionDemo2</servlet-name>
        <servlet-class>com.servlet3.HttpSessionDemo2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HttpSessionDemo2</servlet-name>
        <url-pattern>/HttpSessionDemo2</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.reqred.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>WelcomeServlet</servlet-name>
        <servlet-class>com.reqred.WelcomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WelcomeServlet</servlet-name>
        <url-pattern>/WelcomeServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Servlet2</servlet-name>
        <servlet-class>com.database1.Servlet2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet2</servlet-name>
        <url-pattern>/Servlet2</url-pattern>
    </servlet-mapping>

</web-app>
