<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
">

    <bean id="tDirectors" class="TechnicalDirectors">
        <property name="directorSet">
            <set>
                <value>Raju</value>
                <value>Kumar</value>
                <value>Swamy</value>
                <value>Peter</value>
            </set>
      </property>
    </bean>
</beans>
